/* General */
main{
    background-color: #1a1a1a;
    color: #FFFFFF;
}
#wrapwrap{
    background-color: #222222;
}
h1, h2, h3, h4, h5{
    color: #FFFFFF;
}
a:hover{
    color: #00b3b0;
}
.btn-link, a {
    color: #bfbfbf;
}
::placeholder {
    color: #CCCCCC !important;
    opacity: 1; /* Firefox */
}

/* Projects Page */
.o_sh_projects_cards > .o_project_cards > .o_project_create_new > a > .o_project_card{
    background-color: #1a1a1a;
    color: #FFFFFF;
}
.o_project_cards > .o_project_card_container > .o_project_card{
    background-color: #1a1a1a;
    color: #FFFFFF;
    box-shadow: 0 1px 3px 0 #808080, 0 0 0 1px #808080;
}
.o_project_title, body .text-black{
    color: #FFFFFF;
}
.o_sh_projects_search  {
    color: initial;
}
.card {
    background-color: #383838;
    color: #FFFFFF;
}
.text-800, .btn {
    color: #FFFFFF !important;
}
.table {
    color: #dee2e6 !important;
}
hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
a.text-800:hover {
    color: #dee2e6 !important;
}

/* Home Page */
.bg-gray-lighter > .container > div > div>  h1,.bg-gray-lighter > .container > div > div > h2, .bg-gray-lighter > .container > div > div > h3, .bg-gray-lighter > .container > div > div > h4, .bg-gray-lighter > .container > div > div > h5{
    color: #21313a;
}

/* Header Project Page */
.dropdown-item:hover, .dropdown-menu a:hover, .dropdown-item:focus, .dropdown-menu a:focus{
    background-color: #424242 !important;
}

/* Project/Branch History Page */
.o_branch_history, .o_branch_history .o_tracking_date_separator .o_tracking_date {
    background-color: #222222;
    color: #FFFFFF;
}
.o_branch_history .o_tracking .o_tracking_commits .o_tracking_commit .o_tracking_commit_body{
    background-color: rgba(128, 128, 128, 0.25);
    white-space: break-spaces !important;
}
.o_tracking_commit_body > .o_tracking_commit_body {
    white-space: break-spaces !important;
}
.o_tracking_commits > .o_tracking_commit {
    background-color: #444444 !important;
}
.o_branch_history .o_sh_tracking_icon .gi {
    background-color: #222222 !important;
}
.list-group-item:not([class*='list-group-item-']):not(.active) {
    color: #FFFFFF !important;
}
.btn-light.disabled {
    color: #212529 !important;
}
.o_branch_history .o_tracking:hover {
    background-color: #4d4d4d;
    border-color: #ced4da;
}
a.bg-100:hover, a.bg-100:focus, button.bg-100:hover, button.bg-100:focus {
    background-color: rgba(255,255,255,0.7) !important;
    color: #212529 !important;
}
.dropdown-menu{
    background-color: #222222 !important;
}
.dropdown-menu a {
    color: #FFFFFF !important;
}
.o_branch_buttons{
    background-color: #3A404A !important;
}
.js_git_command {
    background-color: #383838 !important;
    color: #FFFFFF !important;
}
.gi-clippy:before {
    content: "\e934";
    color: #212529;
}
.o_git_command:hover .gi-clippy:before{
    content: "\e934";
    color: #FFFFFF;
}

/* General Settings Page */
.help-block {
    background-color: #222222;
    color: #999999;
}
.o_github_search_box .input-group-btn .btn{
    background-color: #00A09D !important;
    color: #FFFFFF !important;
}
.o_branch_settings_wrapper, .o_settings_wrapper {
    background-color: #222222;
    color: #FFFFFF;
}
.o_settings_section_body .alert-danger {
    background-color: #2e2705;
    color: #bfbfbf;
}
.o_settings_wrapper .o_github_search_result {
    background-color: #000000;
}
.o_settings_wrapper .o_github_search_result li:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.o_settings_code.btn.btn-secondary {
    background-color: #734d69;
}
.bg-white {
    background-color: #222222 !important;
    color: #FFFFFF;
}
.alert-warning {
    background-color: #2e2705;
    color: #f9e7cc;
}
.alert-info {
    background-color: #0e1f25;
    color: #d1ecf1;
}
.alert-danger {
    color: #f8d7da;
    background-color: #240f0f;
}
.odoo_sh .help-block{
    color: #9eb0ce;
}
.custom-select{
    background-color: #2f2f2f;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    color: #a9b8c7;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
}
.custom-select > option{
    background-color: #222222;
}
.odoo_sh .text-muted{
    color: #a0aeb9 !important;
}

/* Branch Monitoring Page */
.alert-secondary {
    color: #d1dee4;
    background-color: #2f4752;
    border-color: #d1dee4;
}

img.ml-auto, img.mx-auto{
    border-radius: 75px;
}

/* Branch Settings Page */
.o_branch_settings_wrapper .o_settings_pricing .table tr:nth-last-child(n + 1) td, .o_settings_wrapper .o_settings_pricing .table tr:nth-last-child(n + 1) td, .list-group-item, .o_settings_wrapper .o_github_search_box .form-control  {
    background-color: #383838;
    color: #FFFFFF;
}
.o_tracking_stage_change.small.text-uppercase{
    color: #222222;
}
.o_branch_history .js_history_item + .js_history_item{
    border-color: #222222;
}
.o_branch_history .o_tracking .o_tracking_commits .o_tracking_commit .o_tracking_commit_msg {
    white-space: normal !important;
}
.o_branch_settings, .o_branches_right_panel, .bg-100 {
    background-color: #222222 !important;
    color: #FFFFFF;
}
.btn-light {
    background-color: #383838;
    color: #FFFFFF;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 1px rgba(255, 255, 255, 0.075);
}
.btn-light:hover {
    background-color: #222222 !important;
    color: #FFFFFF;
}
.input-group .input-group-addon {
    background-color: #222222 !important;
    color: #FFFFFF !important;
}

/* Builds Page */
.o_builds_view .o_builds_card.o_success {
    background-color: #15250e;
}
.o_builds_view .o_builds_card.o_warning {
    background-color: #2e2705;
}
.o_builds_view .o_builds_card.o_failed {
    background-color: #240f0f;
}
.o_sh_row .o_sh_panel_right{
    background-color: #222222;
    color: #FFFFFF;
}
.o_sh_row .o_sh_panel_left{
    background-color: #222222;
    color: #FFFFFF;
}
.o_builds_view .o_builds_card {
    border-right: 1px solid #222222;
}
.o_builds_branch {
    background-color: #222222;
}
.bg-200 {
    background-color: #222222 !important;
    color: #FFFFFF;
}
.card-body {
    background-color:  #383838 !important;
    color: #FFFFFF;
}
.bg-white-75 {
    background-color: #4d4d4d !important;
    color: #FFFFFF;
}
.bg-white-75 {
    background-color: #222222 !important;
    color: #FFFFFF;
}
.o_builds_view .o_builds_card .o_builds_info pre{
    background-color: #222222 !important;
    border-radius: 15px;
}
.o_card_footer{
    background-color: transparent !important;
}
.bg-200.border-bottom.border-top{
    background-color: #1b1b1b !important;
}

/* Create Project Page */
.o_location .panel label.control-label {
    color: #bfbfbf;
}
.panel, .panel .thumbnail, .panel .form-control {
    background-color: #222222;
    color: #bfbfbf;
}
.well {
    background-color: rgba(0,0,0,0.5);
}
.form-control option, .form-control{
    background-color: #383838;
    color: #bfbfbf !important;
}
.form-control:focus{
    background-color: #383838;
    color: #bfbfbf !important;
}
.text-700{
    color: #bfbfbf !important;
}

/* Branch Logs Page */
.o_sh_log_form{
    background-color: #222;
}
.o_sh_iframe_tab,
body,
.o_sh_iframe_tab body{
    background-color: #222222 !important;
}
.header{
    background-color: #222222;
    border-bottom: 2px solid #222222;
    box-shadow: 0 0 6px #555;
    color:#dfdfdf;
}
.o-logs{
    background-color: #222222;
    color: #dfdfdf;
}

/* Branch Mail Page */
.paas-worker-mail,
.paas-worker-mail .paas-worker-messages-container,
.paas-worker-header .navbar-default,
.paas-worker-table-messages {
    background-color: #222222;
    color: #dfdfdf;
    border-color : #222222;
}
.table.table.table-condensed.paas-worker-table-messages{
    box-shadow: 0 0 6px #555;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.25);
}

/* Status Page */
.o_sh_status .o_sh_server_lists_container tbody > tr:first-child td:first-child  {
    color: #efefef;
}
.o_sh_value.h1.text-default {
    color: #efefef;
}
.o_sh_status .o_sh_global_data_container {
    background-color: #222222;
}

/* Modals */
.modal-header,
.modal-title,
.modal-body,
.modal-footer {
    background-color: #222222 !important;
    color: #dfdfdf !important;
}
.modal .btn-secondary{
    background-color: #222222 !important;
    color: #dfdfdf !important;
}
pre{
    color: #FFFFFF !important;
}
body .modal.o_technical_modal .form-control{
    border: 1px solid #d4d5d7;
    color: #adadad;
    background-color: #424242;
}
.o_sh_connect_as_search{
    padding-bottom: 10px;
}
.close{
    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
}
